.search-box {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
  
.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
}
  
.search-box button {
    border: none;
    background: none;
    cursor: pointer;
}

.search-box svg {
    width: 20px;
    height: 20px;
    stroke: #666;
    fill: none;
    transition: stroke 0.3s;
}

.search-box svg:hover {
    stroke: #333;
}
